<nav class="navbar">
  <div class="navbar-left">
    <a href="/"><span class="navbar-greeting">Hello Sharmaji</span></a>
  </div>
  <div class="navbar-links">
    <a href="/chatastro">Connect with Astrologer</a>
    <a href="/bookpooja">Book a Pooja</a>
    <a href="/astromall">AstroMall</a>
  </div>

  <!-- Show these buttons only when HSLocalStorage is not present -->
  <div class="navbar-buttons" *ngIf="!authService.isAuthenticated()">
    <a href="/signup"><button class="btn signup">Sign Up</button></a>
    <a href="/login"><button class="btn logout">Login</button></a>
  </div>

  <div class="navbar-icons">
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon [icon]="faGlobe"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">Hindi</a></li>
      </ul>
    </div>

    <!-- Show user dropdown only when HSLocalStorage is present -->
    <div class="dropdown" *ngIf="authService.isAuthenticated()">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
      <ul class="dropdown-menu" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>